<nav style="background-color:#6FBF5F" class="navbar navbar-expand navbar-dark justify-content-center fixed-bottom">
    <ul class="navbar-nav">
      <li class="nav-item mx-3">
        <a class="nav-link active" href="index">
          <figure>
            <img src='summary.png' alt='foot icon' height="18" width='18'/>
            <figcaption>Summary</figcaption>
          </figure>
        </a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link active" href="tips">
          <figure>
            <img src='lightbulb.png' alt='lightbulb icon' height="18" width='18'/>
            <figcaption>Tips</figcaption>
          </figure>
        </a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link active" href="addpage">
          <figure>
            <img src='add.png' alt='add icon' height="18" width='18'/>
            <figcaption>Log</figcaption>
          </figure>
        </a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link active" href="goal">
          <figure>
            <img src='goals.png' alt='goals icon' height="18" width='18'/>
            <figcaption>Goals</figcaption>
          </figure>
        </a>
      </li>
    </ul>
  </nav>