<!DOCTYPE html>
<html>
<head>
	<title>Eco-Tracker Goals</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/ecopage.css" rel="stylesheet">
	<!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <style>
  	    body{
    	  background-image: url('tipBackground.png');
		  background-repeat: no-repeat;
		  background-attachment: fixed;
		  background-position: center;
    }
	</style>
	<!--
	<style>
		.button {
	  	background-color: #1c87c9;
	    border: none;
	    color: white;
	    padding: 20px 34px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 20px;
	    margin: 0 auto;
	    cursor: pointer;
	    }
		button-center {
			text-align: center;
		}
	</style>
	Source of help: https://www.w3schools.com/asp/asp_inputforms.asp
--->

</head>

<body>
	<nav style="background-color:#6FBF5F" class="navbar navbar-expand navbar-light justify-content-center  fixed-top">
		<ul class="navbar-nav">
			<img src="logo.png" style="width:200px;height:40px;">
		</ul>
	</nav>
<br>
	<div class="jumbotron">
		<h2 class="text-center" style="float:left;">Goals</h2>
		<br>
		<img src="addButton.png" style="float:right;width:70px;height:70px"
			class="open-button" onclick="openForm()"/>
		<br>
		<br>
		<br>
		<br>
		<br>

	<div class = "container">
	{{#each goals}}
		<div class="card bg-light mb-2" style="border-color:#6FBF5F">
			<div class="card-header" style="background-color: #6FBF5F">
			</div>
			<div class="card-body">
			<h5 class="card-title">{{goalCat}}</h5>
			<p class="card-text">{{goalText}}</p>
			<a href="#" class="right-btn">edit</a>
		</div>
<!--Footer
		  <div class="card-footer bg-transparent border-success text-center"><input onclick="change()" type="button" value="In Progress" id="myButton1"></input>
		 </div>
-->
		</div>
		<br>
	{{/each}}
	</div>

	<br>
</body>

<!--EDIT MODAL
<div class="form-popup" id="myForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: block;">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Edit Goal</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">×</span>
		        </button>
		      </div>
		      <div class="modal-body">

		        <form id="editWorkoutForm" role="form" method="get" action="/editWorkout">
		        	<div class="form-group">
				      <input type="text" class="form-control" id="edit-id" name="id">
				    </div>
				    <div class="form-group">
				      <input type="text" class="form-control" id="edit-type" name="type">
				    </div>
		      </form></div>
		      <div class="modal-footer">
		      	<button id="delete-id" type="button" class="btn btn-danger" data-dismiss="modal" onclick="deleteWorkout()">Remove</button>
		        <button type="submit" class="btn btn-primary">Save</button>
		      </div>
		    </div>
		  </div>
		</div>
-->

<div class="form-popup" id="myForm">
		<form id="addGoalForm" role="form" method="get" action="/addgoal"class="form-container">
		  <div class="form-group">
				<h1>Add Goal</h1>
		    <label for="formGroupExampleInput">Category</label>
				<select class="form-control" name="goalCat">
					<option>Commute</option>
					<option>Food</option>
					<option>Waste</option>
				</select>
		  </div>
		  <div class="form-group">
		    <label for="formGroupExampleInput2">Goal</label>
		    <input type="text" class="form-control" name="goalText" placeholder="I want to ...">
		  </div>
		  <input type="submit" id="submitBtn" class="btn btn-primary" value="Add Goal"></input>
			<button type="button">Close</button>
		</form>
  </form>
</div>
<br>
<br>
<br>
<br>
<br>

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script>
			function openForm() {
			  document.getElementById("myForm").style.display = "block";
			}

			function closeForm() {
			  document.getElementById("myForm").style.display = "none";
			}
			function change()
			{
			    var elem = document.getElementById("myButton1");
			    if (elem.value=="Goal Accomplished!") elem.value = "In Progress";
			    else elem.value = "Goal Accomplished!";
			}
	</script>
</body>
{{> navbar}}
</html>
