<!DOCTYPE html>
<html>
<head>
	<title>Eco-Tracker Home Screen</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/ecopage.css" rel="stylesheet">
  <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="js/indexscores.js"></script>
    <style>
          img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      }
    </style>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');


			ga('create', 'UA-159253536-1', 'auto');
			ga('require', 'GTM-K5L63D5');
			ga('send', 'pageview');
		</script>
</head>

<body>
	<div class="container">
		<nav class="navbar navbar-expand navbar-light bg-light justify-content-center  static-top">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" href="index">Today</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="month">This Month</a>
				</li>
			</ul>
		</nav>
		<br>

		<div class="text-center profilecss">
      <p class='header image-center'>Today's Emmisions <a class="info header" data-toggle="popover" data-placement="right" data-content="The average daily carbon footprint for a U.S. citizen is 38.4 lbs CO2e. How does your score compare?" title="" data-original-title="Daily Emmisions">Info</a>
    </p>
    <br>
			<div class="circle" id="ccolor">
				<h1 id="score">0.0lbs CO<sub>2</sub></h1>
			</div>
		</div>
		<br>
		<div class="text-xs-center">Commute <a class="info" data-toggle="popover" data-placement="right" data-content="For each mile that you travel by car, you emit 0.5 lbs CO2e. By plane, you emit 25 times more CO2!" title="" data-original-title="Emmisions from Commute">Info</a>
		</div>
		<div class="progress">
			<div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" id="cpb">0.0 lbs</div>
		</div>
		<br>
		<div class="text-xs-center">Food
		<a class="info" data-toggle="popover" data-placement="right" data-content="For each meal that contains meat, you emit 3.2 lbs CO2e!" title="" data-original-title="Emmisions from Food">Info</a>
	</div>
		<div class="progress">
			<div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" id="fpb">0.0 lbs</div>
		</div>
		<br>
		<div class="text-xs-center">Waste <a class="info" data-toggle="popover" data-placement="right" data-content="For each single-use plastic that you use, you emit 1.9 lbs CO2e!" title="" data-original-title="Emissions from Waste">Info</a>
		</div>
		<div class="progress">
			<div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" id="wpb">0.0 lbs</div>
		</div>
		<br>
		<br>

<div class="container">
<h4>You've Saved <a class="info" data-toggle="popover" data-placement="right" data-content="Every time you make eco-friendly decisions, such as walking or eating less meat, you help the environment! Keep it up!" title="" data-original-title="You've made an impact!">Info</a>
<h4>


<div class="grid-container">
	<div class="grid-item">
			<div id = "rcorners2" style="background-color:#F0F0F0;" >
				<img src="savedTree.png" style="float:left;width:40px;height:40px">
				<div id="amt_Trees"></div><h4 style="padding-left:30px">trees</h4>
			</div>
	</div>
  <div class="grid-item">
		<div id = "rcorners2" style="background-color:#F0F0F0;" >
			<img src="savedoil-1.png" style="float:left;width:40px;height:40px">
			<div id="amt_Oil"></div><h4 style="padding-left:30px">gal oil</h4>
		</div>
	</div>
  <div class="grid-item">
		<div id = "rcorners2" style="background-color:#F0F0F0;" >
			<img src="savedcoal.png" style="float:left;width:40px;height:40px">
			<div id="amt_Coal"></div><h4 style="padding-left:30px">lbs coal</h4>
		</div>
	</div>
	<div class="grid-item">
		<div id = "rcorners2" style="background-color:#F0F0F0;" >
			<img src="savedgas.png" style="float:left;width:40px;height:40px">
			<div id="amt_Gas"></div><h4 style="padding-left:30px">gal gas</h4>
		</div>
	</div>
</div>
</div>


<!--
	<p>------- You've saved --------</p>
	<div class="row">
	  <div class="column">
			<div id = "rcorners2" style="background-color:#F0F0F0;" >
				<p>teehee</p>
			</div>
		</div>

		<div class="column">
			<div id = "rcorners2" style="background-color:#F0F0F0;" >
				<p>teehee</p>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="column">
			<div id = "rcorners2" style="background-color:#F0F0F0;" >
				<p>teehee</p>
			</div>
		</div>

		<div class="column">
			<div id = "rcorners2" style="background-color:#F0F0F0;" >
				<p>teehee</p>
			</div>
		</div>
	</div>
 --->
<br>
 	<p style="float:right">
        <a href="/" class="btn btn-outline-success btn-lg" onclick="clearData()">
          <span class="glyphicon glyphicon-log-out"></span>Log out
        </a>
      </p>
	<br>
	<br>
	<br>
	<br>
	<br>




	<nav style="background-color:#6FBF5F" class="navbar navbar-expand navbar-light justify-content-center  fixed-top">
		<ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="index">Today</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="month">This Month</a>
      </li>
    </ul>
  </nav>
   <script>
    //$('.sumid').html(<li class="nav-item active">);
    $('.info').popover();


	$(':not(#anything)').on('click', function (e) {
	    $('.info').each(function () {
	        //the 'is' for buttons that trigger popups
	        //the 'has' for icons and other elements within a button that triggers a popup
	        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
	            $(this).popover('hide');
	            return;
	        }
	    });
	});
	function clearData(){
		sessionStorage.removeItem('tree');
		sessionStorage.removeItem('oil');
		sessionStorage.removeItem('coal');
		sessionStorage.removeItem('gas');
	}
  </script>
</body>
{{> navbar}}
</html>
