<!DOCTYPE html>
<html>

<head>
	<title>Login Form</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/ecopage.css" rel="stylesheet">
	<!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	{{> facebook}}
	<script src="js/facebook.js"></script>
</head>

<body>
    <div class="wrap intro">
        <form class="login-form">
            <div class="form-header">
                <h3>Eco-Tracker</h3>
                <p>Helping you lower Emissions!</p>
		
            </div>

            <div class="input">
                <input type="text" class="form-input" placeholder="email">
            </div>

            <div class="input">
                <input type="password" class="form-input" placeholder="password">
            </div>

            <div class="input">
                <a href="/index" class="form-button" type="submit">Login</a>
            </div>

            	<div>
            	<p class= "image-center">
            		Login through FB
				<fb:login-button
                    width="200px"
  					scope="public_profile,email"
  					onlogin="checkLoginState();"
  					onlogin="window.location='/index.handlebars'">
				</fb:login-button>
				</p>
				</div>
        </form>
    </div>
</body>
