<!DOCTYPE html>
<html>

<head>
	<title>Eco-Tracker Profile</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/ecopage.css" rel="stylesheet">
	<link href="css/profile.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  	<style>
		.button {
	  	background-color: #1c87c9;
	    border: none;
	    color: white;
	    padding: 20px 34px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 20px;
	    margin: 0 auto;
	    cursor: pointer;
		text-align: center;
		}
	   </style>
</head>

<body id="profilebody">
<br>
<aside class="profile-card">

  <header>

    <div class="image-center">
		<img src="ecojoe.png" class="rounded" height='150' width='150'/>
	</div>
<br>
    <h1 class="image-center" id="profileh1">John Smith</h1>

  </header>
  <br>
  <div class="profile-bio">

    <p class="image-center">I'm an awesome saxophone player who's trying to do his part to save the planet!</p>
    <p class="image-center">Tracking my emissions is a lot easier with Eco-Tracker :)</p>

  </div>

  <br>
  <h3 class="image-center" id="profileh2">Get to Know Me!</h3>

  <div class="center-div">
  <ul id="profile-social-links">
    <li>
     <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
	<a href="https://twitter.com/" class="fa fa-twitter"></a>
	<a href="https://instagram.com/" class="fa fa-instagram"></a>
    </li>
  </ul>
</div>
</aside>
<br>

<nav style="background-color:#6FBF5F" class="navbar navbar-expand navbar-dark justify-content-center  fixed-bottom">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="index">
          <figure>
            <img src='foot.png' alt='foot icon' height="15" width='15'/>
            <figcaption>Summary</figcaption>
          </figure>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tips">
          <figure>
            <img src='lightbulb.png' alt='lightbulb icon' height="15" width='15'/>
            <figcaption>Tips</figcaption>
          </figure>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="addpage">
          <figure>
            <img src='plus.png' alt='add icon' height="15" width='15'/>
            <figcaption>Add</figcaption>
          </figure>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="goal">
          <figure>
            <img src='goals.png' alt='goals icon' height="15" width='15'/>
            <figcaption>Goals</figcaption>
          </figure>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="profile">
          <figure>
            <img src='profile.png' alt='profile icon' height="15" width='15'/>
            <figcaption>Profile</figcaption>
          </figure>
        </a>
      </li>
    </ul>
  </nav>

</body>
</html>
