<!DOCTYPE html>
<html>

<head>
	<title>Eco-Tracker Profile</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/ecopage.css" rel="stylesheet">
	<!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  	<style>
		.button {
	  	background-color: #1c87c9;
	    border: none;
	    color: white;
	    padding: 20px 34px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 20px;
	    margin: 0 auto;
	    cursor: pointer;
			text-align: center;
		}
	   </style>
</head>

<body>
  <div class="profilecsse">
	<h2 class="text-center">Profile</h2>
</div>
<br>
<div class="image-center">
		<img src="ecojoe.png" class="rounded" height='150' width='150'/>
</div>
<br>

<div class="profiledescription">
		<p id="profilep">John Smith</p>
 		<p id='profile1'>I'm an awesome saxophone player who's trying to do his part to save the planet!</p>
		<p id="profile1">Tracking my emissions is a lot easier with Eco-Tracker :)</p>
 	</div>
 <br>
<div class="topgoals">
	<h3 id="profilesub"> My Top Goals </h3>
	<br>
	<div class="profilegoals">
	<p id='profile2'> Average less than 15l of emissions per day! </p>
	<p id='profile2'> Use methods of transportation that reduce my commute emissions.</p>
	<p id='profile2'> Track everyday for at least one month. </p>
	</div>
</div>
<br>

<nav class="navbar navbar-expand navbar-dark bg-success justify-content-center  fixed-bottom">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="index">
          <figure>
            <img src='foot.png' alt='foot icon' height="15" width='15'/>
            <figcaption>Summary</figcaption>
          </figure>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tips">
          <figure>
            <img src='lightbulb.png' alt='lightbulb icon' height="15" width='15'/>
            <figcaption>Tips</figcaption>
          </figure>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="addpage">
          <figure>
            <img src='plus.png' alt='add icon' height="15" width='15'/>
            <figcaption>Add</figcaption>
          </figure>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="goal">
          <figure>
            <img src='goals.png' alt='goals icon' height="15" width='15'/>
            <figcaption>Goals</figcaption>
          </figure>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="profile">
          <figure>
            <img src='profile.png' alt='profile icon' height="15" width='15'/>
            <figcaption>Profile</figcaption>
          </figure>
        </a>
      </li>
    </ul>
  </nav>


  <script>
    // calculate the new progress bar from input for commute
    var commutebar = sessionStorage.getItem('commute');
    var cprogress = document.getElementById("cpb").style.width;
    var commutepr = parseFloat(cprogress);
    var percent = parseFloat(commutebar) + commutepr;
    //console.log(commutebar);
    //console.log(commutepr);
    //console.log(percent);
    var finalpercent = Math.round(percent*0.7);
    // calculate new score
      var cscore = Math.round((finalpercent/15)*10)/10;
      //commute score
      var coscore = document.getElementById("cpb").innerHTML;
      coscore = coscore.replace(/[^\d.-]/g, '');
      var coscores = parseFloat(coscore);
      //waste score
      var wscore = document.getElementById("wpb").innerHTML;
      wscore = wscore.replace(/[^\d.-]/g, '');
      var wscores = parseFloat(wscore);
      //food score
      var fscore = document.getElementById("fpb").innerHTML;
      fscore = fscore.replace(/[^\d.-]/g, '');
      var fscores = parseFloat(fscore);
    if(commutebar > 26){    
      //console.log(finalpercent);
      document.getElementById("cpb").innerHTML = Math.round((finalpercent/15)*10)/10 +" liters";
      document.getElementById("cpb").style.width = (finalpercent)+"%";
      document.getElementById("score").innerHTML = cscore+wscores+fscores+"L";
    }
    else{
      document.getElementById("cpb").style.width = (commutepr)+"%";
      document.getElementById("score").innerHTML = coscores+wscores+fscores+"L";
    }
  </script>
</body>
</html>
