<!DOCTYPE html>
<html>
<head>
	<title>Eco-Tracker Tips</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/ecopage.css" rel="stylesheet">
	<!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="jumbotron">
   <h2 class="text-center">Tips</h2>
 </div>

<!-- MODAL EXPERIMENTATION
<button id="modalBtn" class="form-button">Click Here</button>

<div id="simpleModal" class="testmodal">
	<div class="testmodal-content">
		<span class="closeBtn">&times;</span>
		<p>Hello...I am a modal</p>
	</div>
</div>
-->

<div class="jumbotron">
	<div>
		<h4 class = "greenText">Tip 1</h4>
		<p id = "tipGroup" class = "textGroupBorderGreen" class = "greyText">Carpooling helps to reduce the amount of gas used per person, thus reducing the amount of emissions released!</p>
	</div>
	<div>
		<h4 class = "greenText">Tip 2</h4>
		<p class = "textGroupBorderGreen" class = "greyText">Using a reusable water bottle will cut down on the amount of single use plastics used.</p>
	</div>
	<div>
		<h4 class = "greenText">Tip 3</h4>
		<p class = "textGroupBorderGreen" class = "greyText">Reduce red meat consumptions as cows release a lot of methane, a powerful greenhouse gas.</p>
	</div>
	<div>
		<h4 class = "greenText">Tip 4</h4>
		<p class = "textGroupBorderGreen" class = "greyText">Take the bus when commuting to further reduce your carbon footprint!</p>
	</div>
	</div>

	<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Progress Saved!</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Your commute has been recorded! You can either see your updated summary or add more progress.
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <a href="index" class="btn btn-success" role="button">To Summary</a>
          <a href="addpage" class="btn btn-secondary" role="button">Add More</a>
          <!--
          <button type="button" class="btn btn-success" data-dismiss="modal">To Summary</button> -->
        </div>

      </div>
    </div>
  </div>

 <p>
 <nav class="navbar navbar-expand navbar-dark bg-success justify-content-center  fixed-bottom">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="index">
          <figure>
            <img src='foot.png' alt='foot icon' height="15" width='15'/>
            <figcaption>Summary</figcaption>
          </figure>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="tips">
          <figure>
            <img src='lightbulb.png' alt='lightbulb icon' height="15" width='15'/>
            <figcaption>Tips</figcaption>
          </figure>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="addpage">
          <figure>
            <img src='plus.png' alt='add icon' height="15" width='15'/>
            <figcaption>Add</figcaption>
          </figure>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="goal">
          <figure>
            <img src='goals.png' alt='goals icon' height="15" width='15'/>
            <figcaption>Goals</figcaption>
          </figure>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="profile">
          <figure>
            <img src='profile.png' alt='profile icon' height="15" width='15'/>
            <figcaption>Profile</figcaption>
          </figure>
        </a>
      </li>
    </ul>
  </nav>
</body>
</html>
