.jumbotron{
	background-color: transparent !important;
}
h2, h1{
	text-align: center;
}
.dot{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-width: 9px;
	border-style: solid !important;
	border-color: green !important;
	display: inline-block;
}
.dot h1{
	padding-top: 60px;
	text-align: center;
	vertical-align: middle;
}