.jumbotron{
	background-color: transparent !important;
}
h1{
	text-align: center;
}
h2{
    padding-top: 20px;

}
.profilecss h2{
    padding-top: 20px;
    padding-bottom: 10px;
}
.profilecsse h2{
    padding-top: 30px;

}
h4{
	text-align: center;
	color: black;
}

.circle, #ccolor{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-width: 9px;
	border-style: solid;
	border-color: green;
  background: transparent;
	display: inline-block;
}
.circle h1{
	padding-top: 50px;
	text-align: center;
	vertical-align: middle;
}

.image-center {
	text-align: center;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}

/*h3{*/
	/*color: #25CA5D;*/
/*}*/

body{
    font-family: 'SF Pro Display';
    font-size: 1rem;
    line-height: 1.6;
    height: 100%;
}

.wrapFullWidthButton {
	width: 50%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fafafa;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
}

.flatperson {
		top:10
		position: fixed;
}

#login-graphic {
	top:100%;
}

.login-form{
    width: 350px;
    margin: 0 auto;
    padding: 2rem;
		position: fixed;
    top: 45%;
}

.form-input{
    background: #fafafa;
    border: 1px solid #eeeeee;
    padding: 12px;
    width: 100%;
}

.input{
    margin-bottom: 1rem;
    text-align: center;
}

.form-button{
    background: #25CA5D;
    border: 1px solid #ddd;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
}

.form-header{
    text-align: center;
    margin-bottom : 2rem;
}

.form-footer{
    text-align: center;
    ;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.sharebutton{
  text-align: center;
  vertical-align: middle;
  color: #28A745;
}


.profileimg{
  position: absolute;
}

.profiledescription{
  position: relative;
  overflow: auto;
  text-align: center;
}

#profilep{
  font-family: "SF Pro Display";
  font-size: 24px;
  margin: 5px;
}

#profile2{
font-family: SF Pro Display;
font-style: normal;
font-weight: 400;
font-size: 14px;
text-align: left;
color: #000000;
}

#profile1{
font-family: SF Pro Display;
margin: 0;
font-style: normal;
font-weight: 500;
font-size: 14px;
color: #000000;
}

.topgoals{
  margin-left: 10px;
}

.textGroupBorder {
	border: 5px solid #1c87c9;
	border-radius: 5px;
	margin-bottom: 8px;
	font-family: SF Pro Display;
	font-style: normal;
}

.textGroupBorderGreen {
	border: 5px solid #25CA5D;
	border-radius: 5px;
	margin-bottom: 8px;
	font-family: SF Pro Display;
	font-style: normal;
}

.smallWhiteText {
	font-family: "SF Pro Display", sans-serif;
	font-style: normal;
	color: white;
}

.whiteText {
	font-family: "SF Pro Display", sans-serif;
	font-style: bold;
	color: white;
}

.profilegoals{
  margin-left: 20px;
}

#profilesub{
  font-size: 24px;
  text-decoration: underline;
}

.popup-overlay {
visibility:hidden;
}

.popup-content {
visibility:hidden;
}

.testmodal{
	display none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%
	width: 100%
	ovrflow:auto;
	background-color:rgb(0, 0, 0, 0.5);
}

.testmodal-content{
	background-color:#f4f4f4;
	margin:20% auto;
	padding: 20px;
	width: 70%;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 17);
}

.closeBtn{
	color: #ccc;
	float: right;
	font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus{
	color: #000;
	text-decoration: none;
	cursor:pointer;
}

#rcorners1 {
  border-radius: 25px
  background: #73AD21;
  padding: 20px;
  width: 100%;
  height: auto;
  justify-content: center;
  box-shadow: 10px 10px 5px #C1C1C1;
	justify-content: center;
	box-shadow: 10px 10px 5px #C1C1C1;
}
#rcorners {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 100%;
  height: auto;
	justify-content: center;
}

#rcorners2 {
  border-radius: 10px;
  background: #F0F0F0;
  width: 100%;
  height:100px;
	padding: 10px;




}

.grid-container {
	display: inline-grid;
	grid-template-columns: auto auto;
	/*padding: 15px;*/
	grid-gap: 25px 25px;
}

.grid-item {
	width: 150px;
}



/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.right-btn{
  float:right;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.navbar-nav img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.responsive {
  max-width: 100%;
  height: auto;
}

.intro {
  background: #8fcf82;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-right{
  float: right;
}
.column {
  column-count: 2;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
<<<<<<< HEAD

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    position: absolute;
		top: 5%;
    z-index: 1001;
}

	#loader-wrapper .loader-section {
	    position: fixed;
	    top: 0;
	    width: 51%;
	    height: 100%;
	    background: #222222;
	    z-index: 1000;
	}

	#loader-wrapper .loader-section.section-left {
	    left: 0;
	}

	#loader-wrapper .loader-section.section-right {
	    right: 0;
	}
	/* Loaded */
	.loaded #loader-wrapper .loader-section.section-left {
	    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
	    -ms-transform: translateX(-100%);  /* IE 9 */
	    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

			-webkit-transition: all 0.3s 0.3s ease-out;
            	transition: all 0.3s 0.3s ease-out;

	}

	.loaded #loader-wrapper .loader-section.section-right {
	    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
	    -ms-transform: translateX(100%);  /* IE 9 */
	    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

			-webkit-transition: all 0.3s 0.3s ease-out;
            	transition: all 0.3s 0.3s ease-out;

	}

	.loaded #loader {
    opacity: 0;
		-webkit-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
}

a.info {
  vertical-align: bottom;
  position:relative; /* Anything but static */
  width: 1em;
  height: 1em;
  text-indent: -9999em;
  display: inline-block;
  color: white;
  font-weight:bold;
  font-size:.8em;
  line-height:.8em;
  background-color: #91b2d2;
  margin-left: .2em;
  -webkit-border-radius:.75em;
  -moz-border-radius:.75em;
  border-radius:.75em;
}
a.info:hover {
  background-color:#628cb6;
  cursor: hand;
  cursor: pointer;
}
a.info:before {
  content:"?";
  position: absolute;
  top: .1em;
  left:0;
  text-indent: 0;
  display:block;
  width:1em;
  text-align:center;
}

.popover-title {
  font-weight:bold;
}

.no-js #loader-wrapper {
    display: none;
}
.no-js h1 {
    color: #222222;
}

#content {
	position:
}
.modal-backdrop{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:1040;
  background-color:#000;
}
.modal-backdrop.fade{
    opacity:0;
  }
.modal-backdrop,.modal-backdrop.fade.in{
    opacity:.8;
    filter:alpha(opacity=80);
  }
  #amt_Trees, #amt_Oil, #amt_Coal, #amt_Gas{
    word-wrap: break-word;
    font-size:30px;
    text-align: center;
    /*float:right;*/
  }

.greenBackground{
background-color:#BEE1B8;
padding: 7px;
}

input#boxid{
  margin-right: 5px;
}
