<!DOCTYPE html>
<html>

<head>
	<title>Eco-Tracker Add Screen</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/ecopage.css" rel="stylesheet">
	<!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body style="background-color:#FF677E">
 <div class="jumbotron">
		<h2 class="text-center" style="color:white">Add Commute</h2>
	</div>
	<div class="text-center container">
	<div class="form-group">
	  <label for="sel1" style="color:white">Mode of Transportation</label>
	  <select class="form-control" id="sel1">
	    <option>Walk</option>
	    <option>Bike/Scooter</option>
      <option>Motorcycle</option>
      <option>Car</option>
	    <option>Bus</option>
      <option>Plane</option>
	  </select>
	</div>
	<br>
	<br>
	<div class="slidecontainer">
	  <input type="range" min="1" max="100" value="1" class="slider" id="myRange">
	  <p  style="color:white" >Miles: <span id="demo"></span></p>
  <br>
	</div>
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="updateSummary()">
    Save
  </button>
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Progress Saved!</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Your commute has been recorded! You can either see your updated summary or add more progress.
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <a href="index" class="btn btn-success" role="button">To Summary</a>
          <a href="addpage" class="btn btn-secondary" role="button">Add More</a>
          <!--
          <button type="button" class="btn btn-success" data-dismiss="modal">To Summary</button> -->
        </div>

      </div>
    </div>
  </div>
</div>
    <script>
    	var slider = document.getElementById("myRange");
    	var output = document.getElementById("demo");
    	output.innerHTML = slider.value;
      var miles = slider.value;

    	slider.oninput = function() {
    	  output.innerHTML = this.value;
    	}
      function updateSummary(){
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value;
        var miles = slider.value;
        sessionStorage.setItem('commute', miles);
        var updater = 1;
        sessionStorage.setItem('update', updater);
        var input = $('#sel1 option:selected').text();
        console.log(input);
        sessionStorage.setItem('mode', input);
      }
	</script>
</body>
{{> navbar}}
</html>
