<!DOCTYPE html>
<html>

<head>
	<title>Eco-Tracker Add Screen</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/ecopage.css" rel="stylesheet">
	<!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
	<script src="/js/googleAnalytics.js"></script>
<link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');


		ga('create', 'UA-159253536-1', 'auto');
		ga('require', 'GTM-K5L63D5');
		ga('send', 'pageview');
	</script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id="></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', '', { 'XS1FgeHuQUaXu3TBv9qDSA': 'GTM-K5L63D5'});
</script>

</head>

<body style="background-color:#8ED3EF">
 <div class="jumbotron">
		<h2 class="text-center" style="color:#FFFFFF">Add Commute</h2>
	</div>
	<div class="text-center container">
	<div class="form-group">
	  <label for="sel1" style="color:white">Mode of Transportation</label>
	  <select class="form-control" id="sel1">
	    <option>Walk</option>
	    <option>Bike/Scooter</option>
      <option>Motorcycle</option>
      <option>Car</option>
	    <option>Bus</option>
      <option>Plane</option>
	  </select>
	</div>
	<br>

	<!--{{#if viewAlt}}-->

	<!--new numerical input from A/B testing -->


	<!-- old slider bar input
	{{else}}
	<div class="slidecontainer">
	  <input type="range" min="1" max="100" value="1" class="slider" id="myRange">
	  <p  style="color:white" >Miles: <span id="demo"></span></p>
  <br>
	</div>
	{{/if}}
-->
  <div class="form-group">
    <label for="myRange" class="col-2 col-form-label" style="color:white">Miles</label>
    <div class="col-xs-6">
      <input class="form-control" type="number" value="0" min="0" step="1"id="myRange">
    </div>
  </div>

  <button type="button" class="btn btn-success saveBtn" data-toggle="modal" data-target="#myModal" onclick="updateSummary()">
    Save
  </button>
  <button type="button" class="btn btn-light" data-toggle="modal" data-target="#cancelModal">
    Cancel
  </button>
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Progress Saved!</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Your commute has been recorded! You can either see your updated summary or add more progress.
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <a href="index" class="btn btn-success" role="button">To Summary</a>
          <a href="addpage" class="btn btn-secondary" role="button">Add More</a>
          <!--
          <button type="button" class="btn btn-success" data-dismiss="modal">To Summary</button> -->
        </div>

      </div>
    </div>
  </div>
  <!-- This is the cancel modal -->
  <div class="modal" id="cancelModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Confirm Cancel</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Are you sure you want to cancel your progress? Nothing will be saved.
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <a href="addpage" class="btn btn-success" role="button">I'm sure!</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind!</button>
        </div>

      </div>
    </div>
  </div>
</div>
    <script>
    	var slider = document.getElementById("myRange");
      var miles = slider.value;

    	// slider.oninput = function() {
    	  // output.innerHTML = this.value;
    	// }
      function updateSummary(){
        var slider = document.getElementById("myRange");
        // var output = document.getElementById("demo");
        // output.innerHTML = slider.value;
        var miles = slider.value;
        sessionStorage.setItem('commute', miles);
        var updater = 1;
        sessionStorage.setItem('update', updater);
        var input = $('#sel1 option:selected').text();
        console.log(input);
        sessionStorage.setItem('mode', input);
      }
	</script>
</body>
{{> navbar}}
</html>
