<!DOCTYPE html>
<html>

<head>
	<title>Eco-Tracker Add Screen</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/ecopage.css" rel="stylesheet">
	<!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body>
	<div class="jumbotron">
		<h2 class="text-center">Log Food</h2>
	</div>
	<nav class="navbar navbar-expand navbar-dark bg-success justify-content-center  fixed-bottom">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/index">
					<figure>
						<img src='foot.png' alt='foot icon' height="15" width='15'/>
						<figcaption>Summary</figcaption>
					</figure>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="tips">
					<figure>
						<img src='lightbulb.png' alt='lightbulb icon' height="15" width='15'/>
						<figcaption>Tips</figcaption>
					</figure>
				</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="addpage">
					<figure>
						<img src='plus.png' alt='add icon' height="15" width='15'/>
						<figcaption>Add</figcaption>
					</figure>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="goal">
					<figure>
						<img src='goals.png' alt='goals icon' height="15" width='15'/>
						<figcaption>Goals</figcaption>
					</figure>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="profile">
					<figure>
						<img src='profile.png' alt='profile icon' height="15" width='15'/>
						<figcaption>Profile</figcaption>
					</figure>
				</a>
			</li>
		</ul>
	</nav>
</body>

</html>
